.wrapper {
    position:relative;
    width: 90%;
    min-height: 950px;
    margin: 30px auto;
}

.cover { 
    position: relative;
    float: left;
    width: 345px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.cover a {
    width: 100%;
    white-space: initial;
}

.cover-info {
    text-align: center;
}

img {
    width: 100%;
    height: 270px;
}

md-card {
    margin: 20px 10%;
    height: 100%;
}