<md-card>
  <div class="wrapper">
    <h2>Music portal</h2>

    <div class="cover" *ngFor="let cover of coverImages">
      <img src={{cover.img}} />
      <a md-raised-button href="{{cover.link}}">
        <div class="cover-info">
          <h3>{{cover.title}}</h3>
          <h2>{{cover.genre}}</h2>
        </div>
      </a>
    </div>

    <button md-icon-button routerLink="/cover">
        <md-icon>dashboard</md-icon>
    </button>

    <!--
    <a md-icon-button href="https://accounts.spotify.com/authorize/?client_id=52fc866a38084683b20018c7b3e8d25d&response_type=code&redirect_uri=http%3A%2F%2Flocalhost:4200%2F">
        <md-icon>dashboard</md-icon>
    </a>
    -->
  </div>
</md-card>