<md-toolbar color="primary">
    <span><a href="/">Angular Streaming </a></span> |

    <button md-icon-button>
        <md-icon>library_music</md-icon>
    </button>

    <button md-icon-button>
        <md-icon>video_library</md-icon>
    </button>

    <button md-icon-button>
        <md-icon>library_add</md-icon>
    </button>
    
    <md-input-container>
        <h5><input mdInput placeholder="Search..." [mdAutocomplete]="auto" [formControl]="artistCtrl"></h5>
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let artist of filteredArtists | async" [value]="artist">
            {{ artist }}
        </md-option>
    </md-autocomplete>

</md-toolbar>